# 此文件对应config.py中的配置 填写自己真实的key使用
API_KEY=
LLM_BASE_URL=
EMBEDDING_BASE_URL=
LLM_MODEL=
EMBEDDING_MODEL=
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
CHROMA_DIR=
DATABASE_URL=
ALLOWED_ORIGINS=
COHERE_KEY=